@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.default-icon, nav .navigation .nav-item.filters::before, nav .navigation .nav-item.portfolios::before, nav .navigation .nav-item.rights::before, header .menu-breadcrumb .breadcrumb-item::after, header .searchbox:before, header .searchbox:after, .open-menu::before, .close-menu::before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html,
body {
  min-height: 100%; }

body {
  font-family: "Roboto";
  background-color: #F4F4F4; }

/* Navigation */
nav {
  background-color: #000;
  padding-top: 56px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 185px;
  z-index: 1;
  transform: translateX(-185px);
  transition: transform 0.3s, width 0.3s; }
  nav a,
  nav a:active,
  nav a:focus,
  nav a:hover,
  nav a:visited {
    color: #CCC;
    text-decoration: none; }
  nav .navigation {
    padding: 0;
    margin: 0;
    list-style: none; }
    nav .navigation .nav-item {
      position: relative;
      font-weight: 600;
      padding: 18px 0 18px 59px;
      text-transform: uppercase; }
      nav .navigation .nav-item.filters::before, nav .navigation .nav-item.portfolios::before, nav .navigation .nav-item.rights::before {
        font-size: 23px;
        color: #CCC;
        position: absolute;
        top: 12px;
        left: 19px; }
      nav .navigation .nav-item.filters::before {
        content: '\e61f'; }
      nav .navigation .nav-item.portfolios::before {
        content: '\e61e'; }
      nav .navigation .nav-item.rights::before {
        content: '\e8e3'; }
      nav .navigation .nav-item.current {
        background-color: #3A3A3A; }
        nav .navigation .nav-item.current::before {
          color: #FFF; }

/* Open menu on click */
#main-nav:target {
  transform: translateX(0); }

#main-nav:target + header .open-menu {
  display: none; }

#main-nav:target + header .close-menu {
  display: block; }

/* Header */
header {
  background-color: #505050;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  padding: 15px 139px 0 84px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  overflow: hidden;
  z-index: 5;
  /* Breadcrumb */
  /* Searchbox */ }
  header .menu-breadcrumb {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0; }
    header .menu-breadcrumb .breadcrumb-item {
      display: inline-block;
      float: left; }
      header .menu-breadcrumb .breadcrumb-item a,
      header .menu-breadcrumb .breadcrumb-item a:active,
      header .menu-breadcrumb .breadcrumb-item a:focus,
      header .menu-breadcrumb .breadcrumb-item a:hover,
      header .menu-breadcrumb .breadcrumb-item a:visited {
        color: #FFF;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: .89px; }
      header .menu-breadcrumb .breadcrumb-item::after {
        font-size: 18px;
        content: '\e8a8';
        margin: 0 20px 0 18px;
        position: relative;
        top: 2px; }
      header .menu-breadcrumb .breadcrumb-item.current a {
        font-size: 19px;
        font-weight: normal;
        letter-spacing: .1px; }
      header .menu-breadcrumb .breadcrumb-item.current::after {
        content: ''; }
  header .searchbox {
    display: inline-block;
    position: absolute;
    left: 615px;
    top: 16px;
    width: 570px; }
    header .searchbox:before {
      content: "\e660";
      font-size: 18px;
      position: absolute;
      left: 11px; }
    header .searchbox:after {
      content: "\e8a1";
      font-size: 23px;
      position: absolute;
      right: 8px; }
  header .input-search {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.2px;
    background-color: #707070;
    border: 0px none;
    border-radius: 3px;
    float: left;
    padding: 1px 36px 3px;
    margin-top: -2px;
    width: 100%;
    outline: none; }
  header .input-search::-moz-placeholder {
    color: #FFF; }
  header .input-search::-webkit-input-placeholder {
    color: #FFF; }
  header .input-search:-ms-input-placeholder {
    color: #FFF; }
  header .input-search::-ms-input-placeholder {
    color: #FFF; }
  header .input-search::placeholder {
    color: #FFF; }

/* Open/CLose button */
.open-menu, .close-menu {
  display: block;
  background-color: #000;
  width: 60px;
  height: 56px;
  position: absolute;
  left: 0;
  top: 0; }
  .open-menu:active, .open-menu:focus, .open-menu:hover, .open-menu:visited, .close-menu:active, .close-menu:focus, .close-menu:hover, .close-menu:visited {
    text-decoration: none; }
  .open-menu::before, .close-menu::before {
    content: '\e8ae';
    font-size: 24px;
    color: #FFF;
    position: relative;
    top: 16px;
    left: 18px; }

.close-menu {
  display: none; }
  .close-menu::before {
    content: '\e8a0'; }
